*{
    margin: 0;
    padding: 0;
    font-family: OpenSans;
    box-sizing: border-box;
    
    a {
        text-decoration: none;
    }
}

.start {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-image: url(../img/start-fon.jpg);
    // background-position: center center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: rgba(0, 0, 0, 0.3);

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-image: url(../img/start-fon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        // background-color: rgba(0, 0, 0, 0.3);
    }
}

.short {
    max-width: 1920px;
    .contein {
        display: flex;
        margin-left: 200px;
        & :last-child {
            margin-right: 0;
        }

        .item {
            max-width: 47%;
            margin-right: 250px;

            &-el {
                display: flex;
                // justify-content: space-between;
                align-items: center;
                margin-bottom: 40px;
                max-width: 300px;

                .text {
                    margin-left: 60px;
                }
            }
        }

    }
}