.text{

    color: white;
    font-size: 30px;


    &-start {
        font-size: 85px;
        color: white;

        @media(max-width: 1260px){
            font-size: 65px;
        }
    }

    &-title {
        color: white;
        font-size: 60px;
        padding: 150px 0 30px 60px;
    }

    &-grad {
        display: inline;
        font-size: 150px;
        font-weight: bolder;
        color: white;
        background: -webkit-linear-gradient(90deg,#9f2ef4,#f97d64,#ffcd42);
        -webkit-background-clip: text;
        -webkit-text-fill-color:transparent;
    }
}